* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color:#242424 ;
  background-color:rgb(255, 255, 255) ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: calc(100wh-20px);
  min-height: 100vh;
  overflow: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  height: 54px;
  min-height: 54px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #e6e6e6;
  background-color: rgb(255, 255, 255);
}

.nav-items{
  display: flex;
  align-items: center;
  margin: auto 20px;
}

.nav-item{
  display: grid;
  place-items: center;
  list-style: none;
  margin: auto 20px;
}

.nav-link.active {
  color: #ff9900;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  box-sizing: border-box;
  /* height: calc(100vh-54px);
  min-height: 600px; */
  border: 2px solid #e6e6e6;
}

.container{
  display: flex;
  gap: 20px;
}
.content{
flex: 1;
display: flex;
flex-direction: column;
gap: 10px;
padding: 15px;
}

#summary{
  list-style: none;
}
#skill{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

#skill li{
  font-weight: 400;

}


.profile-image img {
  width: 200px; 
  height: 200px;
  object-fit:cover ;
  padding: 10px;
  border-radius: 10%;
}

footer{
  text-align: center;
  border: 2px solid #e6e6e6;
}
